body {
    margin: 0;
    padding: 0;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.container-main {
    border: solid 2px blue;
    height: 700px;
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.squares {
    background-color: white;
    flex: 1 1 auto;
}

.container-boxes {
    display: flex;
    background-color: palevioletred;
    flex: 1 1 auto;
    box-sizing: border-box;
}

.squares:hover {
    border-color: goldenrod;
}

button {
    background-color: grey;
    font-family: 'Courier New', Courier, monospace;
    border-color: black;
}

.active {
    background-color: gold;
    font-family: 'Consolas', sans-serif;
    border-color: seashell;
}

.options {
    display: flex;
    gap: 30px;
}

.grid {
    border: solid 1px black;
}

datalist {
    display: flex;
    justify-content: space-between;
}